.counter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:10px 0;

    p {
        margin: 0 10px 0 0;
        font-weight: 500;
        font-size: 30px;
        line-height: 97.6%;
    }

    P:not(:nth-child(2)) {
        font-weight: 500;
        font-size: 30px;
        line-height: 97.6%;
        cursor:pointer;
    }
}

@media screen and (min-width:700px){
    .counter{
        position:absolute;
        top:22.5%;
        left:53%;
    }
}

@media screen and (min-width:1000px){
    .counter{
        position:absolute;
        top:22.5%;
        left:47%;
    }
}