.description{
    margin:30px 0 0;
    text-align: center;
    margin:10px 0;

    div{

        img{
            width:100%;
        }
        
        aside{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}