.moreInfo {
    margin: 25px 0;

    aside {
        border-top: 2px solid #333333;
        border-bottom: 2px solid #333333;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 10px;

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 157.6%;
            }
        }

        div:nth-child(2) {
            border-top: 2px solid #333333;
            border-bottom: 2px solid #333333;
        }
    }
}

@media screen and (min-width:700px) {
    .moreInfo {
        position: absolute;
        top: 32%;
        left: 50%;
        margin: 10px 0;
        width: 46%;

        aside {
            border-bottom:none;
            div {
                padding: 12px 20px;
            }
        }
    }
}

@media screen and (min-width:1000px) {
    .moreInfo {
        top:36%;
        left: 46%;

        aside {
            border-bottom:none;

            div {
                padding: 18px 10px;
                

                p {
                    font-size: 25px;
                    line-height: 97.6%;
                }
            }
        }
    }
}