.explore-section {
    padding: 30px 0px;
    margin: 40px 0;
    border-top: .5px solid var(--tie-color);
    border-bottom: .5px solid var(--tie-color);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 20px 0;
        border-bottom: .5px solid var(--tie-color);
        padding: 0px 20px 10px;

        h3 {
            font-size: 25px;
            line-height: 65px;
        }

        img {
            width: 45px;
        }
    }

    div:nth-child(2) {
        border: none;
        padding: 0 20px;
        margin: 0;
    }
}

@media screen and (min-width:700px) {
    .explore-section {
        div {
            h3 {
                font-size: 38px;
                line-height: 65px;
            }
        }
    }
}

@media screen and (min-width:1000px) {
    .explore-section {
        div {
            padding:10px 20px 25px;
            h3 {
                font-size: 48px;
                line-height: 65px;
            }
        }
    }
}