@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Gemunu+Libre:wght@400;700&family=League+Spartan:wght@500;700&family=Lobster&family=Overpass:ital,wght@0,400;0,700;1,400&family=Pacifico&family=Poppins:wght@400;700;800&family=Quicksand:wght@400;500;700&family=STIX+Two+Text:wght@400;500&display=swap');


.monalisa-style {
    background: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
    padding: 30px 20px;
    font-family: 'Bellefair', serif;
    position: relative;

    >img {
        position: absolute;
        width: 90%;
    }

    aside {
        z-index: 3;
        position: relative;
        color: var(--primary-color);
    }

    .monalisa {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 0 10px;

        img {
            margin: 0 25px 0 5px;
        }

        h4 {
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            margin: 0;
            text-transform: uppercase;
            color: var(--primary-color);
        }
    }

    .o1 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        >div {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            h3 {
                font-weight: 400;
                font-size: 40px;
                margin: 0 15px 0 3px;
            }

            p {
                margin: 5px 0 0;
                font-size: 12px;
                font-family: 'Poppins', serif;
                line-height: 18px;
                text-transform: uppercase;
            }
        }

        .p-container {
            border: none;
            flex-direction: column;
        }

        .p {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            >p {
                font-size: 10px;
                line-height: 14px;
                letter-spacing: 0.065em;
                width: 85%;
                text-align: left;
                font-family: "Clash display", sans-serif;
            }
        }

        .see-more {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 15px 0;

            a {
                margin: 0 30px 0 0;
                text-decoration: underline;
                color: var(--primary-color);
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
            }

            button {
                background: transparent;
                color: var(--primary-color);
                border: 1px solid var(--primary-color);
                padding: 10px;
                font-size: 14px;
                line-height: 19px;
                border-radius: 10px;
                margin: 0 10px 0 0;
            }
        }
    }
}

@media screen and (min-width:700px) {
    .monalisa-style {
        position: relative;
        padding: 30px 15px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;

        h4 {
            font-size: 28px;
            line-height: 54px;
            color: var(--primary-color);
            margin: 0 20px 15px;
        }

        >img {
            width: 100%;
            padding: 0 20px;
            position: relative;
        }

        .monalisa {
            position: absolute;
            top: 40%;
            margin: 0 0px 0 50px;
            width: 270px;
            line-height: 33px;
        }

        .o1 {
            position: absolute;
            top: 55%;
            margin: 10px 0px 0 20px;

            div {
                p {
                    margin: 0 0 0 15px;
                }
            }

            .p-container {
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0 0 0 20px;

                .p {
                    align-items: flex-end;
                    justify-content: flex-start;
                    width: auto;

                    p {
                        margin: 0 0 0 15%;
                        width: 100%;
                    }
                }

                .see-more {
                    margin: 15px 0 0 0px;
                    justify-content: center;
                }
            }

        }

        .progress-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .progress-bar {
                background: #AEAEAE;
                border-radius: 50px;
                height: 10px;
                width: 300px;
                margin: 20px 0px 0 20px;
                position: relative;

                .progress-indicator {
                    width: 20%;
                    height: 100%;
                    background: var(--primary-color);
                    border-radius: 50px;
                }
            }

            .arrows {
                margin: 10px 20px 0 0;

                img {
                    border-radius: 50px;
                    padding: 20px 22px;
                    margin: 0 0 0 10px;
                    background: rgba(255, 255, 255, 0.2);
                    box-shadow: 7.77035px 7.77035px 11.6555px rgba(0, 0, 0, 0.15);
                    backdrop-filter: blur(7.77035px);
                }
            }
        }

    }
}

@media screen and (min-width:1000px){
    .monalisa-style{
        .monalisa{
            width:380px;

            img{
                margin:10px 20px 0 10px;
            }
            h4{
                font-size: 29.2313px;
line-height: 33px;
            }
        }

        .o1 {
            margin: 10px 0px 0 40px;

            div {
                h3{
                    font-size: 67.6122px;
line-height: 77px;
                }
                p {
                    font-size: 13.46px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
            }

            .p-container {
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0 0 0 20px;

                .p {
                    

                    p {
                        font-weight: 500;
font-size: 15.8576px;
line-height: 21px;
letter-spacing: 0.065em;
text-transform: uppercase;
                    }
                }

                .see-more {
                    margin: 15px 0 0 0px;
                    justify-content: center;
                }
            }
    }
}
}