.filterAndSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 20px;
    margin: 25px 15px;
    border-radius: 10px;
    background: var(--primary-color);
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.428);
    z-index: 3;
    position: relative;

    .filter,
    .sort {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin-right: 10px;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
        }
    }
}

@media screen and (min-width:1000px) {
    .filterAndSort {
        width: 70%;
        text-align: left;
        position: relative;
        left: 23%;

        .sort {
            border: 0.4px solid #000000;
            border-radius: 8px;
            width: 2050%;
            justify-content: flex-end;
            padding: 10px 5px;
            border-radius: 10px;
        }
    }
}