// 2:15

.products {
    >aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding:10px;

        div {
            img{
                width:100%;
            }
            cursor: pointer;
            aside {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0 40px;

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 157.6%;
                    /* or 25px */
                    color: #333333;
                    text-transform: uppercase;
                }
            }
        }
    }


    .arrows-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rotate {
            p:first-child {
                transform: rotate(180deg);
            }

        }
    }

    .arrows {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .red {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
            margin: 0 10px 0 0;
            font-size: 20px;
            line-height: 157.6%;
        }
    }
}

@media screen and (min-width:700px) {
    .products {
        padding: 10px 20px;

        >aside {
            flex-direction: row;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 0 40px;

            div {
                margin: 0 10px;

                img {
                    border-radius: 10px;
                    width:320px;
                }

                aside {
                    display: block;

                    p:last-child {
                        font-weight: 1000;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1000px) {
    .products-container2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .products {
            position: relative;

           > aside {
                justify-content:center;
                width:auto;

                div{
                    img{
                        width:300px;
                    }
                }
            }
        }
    }

}