.cart{
    padding:10px;
}

@media screen and (min-width:700px){
    .cart{
        padding:10px 0px;
   
    }

    .with-shipping{
        display:flex;
        justify-content:center;
        align-items:flex-start;
        flex-direction:row-reverse;
    }
}

@media screen and (min-width:1000px){
    .cart{
        padding:10px 70px;
    }
}