@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&family=League+Spartan:wght@500;700&family=Lobster&family=Overpass:ital,wght@0,400;0,700;1,400&family=Pacifico&family=Poppins:wght@400;700;800&family=Quicksand:wght@400;500;700&family=STIX+Two+Text:wght@400;500&display=swap');


header{

    .hamburger-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:60%;
    }

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px;

    .cursor{
        cursor:pointer;
    }

    h2{
        font-family: 'STIX Two Text', serif;
    }

    aside{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            margin:0 10px;
        }

        div{
            position: relative;
            margin:0 5px 0 0;

            .ellipse{
                position: absolute;
                top:-3px;
                right:0;
            }
        }

        .note-bell{
            width:20px;
        }
    }

}

@media screen and (min-width:700px) {
    header{
        
        .hamburger-container{
            width:auto;
        }

        .hamburger{
            display:none;
        }
    }
}

@media screen and (min-width:1000px) {
    header{
       justify-content: space-around; 
    }
}